html {
    box-sizing: border-box;
}

*, *z:before, *:after {
    box-sizing: inherit;
}

.centered-container {
    text-align: center;
}

nav {
    margin: 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    margin-right: 20px;
    font-family: 'Futura', sans-serif;
    color: #808080;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    padding-top: 200px;
}

.logo span {
    font-family: 'Futura', sans-serif;
    text-align: center;
    font-size: 80px;
}

.search-field {
    height: 44px;
    width: 484px;
    box-shadow: 0px 3px 5px #666;
    margin-top: 40px;
    margin-bottom: 40px;
}


button {
    padding: 8px 16px;
    border: none;
    color: #FAFAFA;
}

.buttons:hover {
}

#one {
    color: #1E1FBF;
}

#two {
    color: #4E3B7B;
}

#three {
    color: #F9D44F;
}

#four {
    color: #8FAE5E;
}

#five {
    color: #FF7814;
}

#six {
    color: #FF0800;
}

#seven {
    color: #E30B5D;
}

#eight {
    color: #FF786C
}